{
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/strict",
    "airbnb",
    "airbnb/hooks",
    "plugin:@next/next/recommended",
    "prettier"
  ],
  "rules": {
    // NextJs specific fix: suppress errors for missing 'import React' in files for nextjs
    "react/react-in-jsx-scope": "off",
    // NextJs specific fix: allow jsx syntax in js files
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/display-name": 1,
    "react/prop-types": "off",
    "react/no-danger": "off",
    "react/jsx-props-no-spreading": [
      1,
      {
        "html": "enforce",
        "custom": "ignore"
      }
    ]
  }
}
